@import "reset.css";



body {
    width: 1366px;
    background:linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)),url(../img/backgroundimage.png) no-repeat;

}



.logo {
    display: block;
    width: 1064px;
    height: 45px;
    margin: 49px auto;
}

.logo-image {
    display: block;
    width: 170px;
}

.logo-image:hover {

    color: #f26522;
}

a.logo-image-type:hover {
    color: #f26522;
}

.logo-image-type {
    display: inline-block;
    height: 44px;
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    font-size: 17pt;
    color: rgb(219, 219, 219);
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
}

.logo-image-type:hover{
    content: #f26522;
    background-color: #f26522;
}

.content-logo:hover {
    color: #f26522;
}

.logo-text {
    font-weight: bold;
    opacity: 3;
    position: absolute;
    bottom: -4px;
    padding-left: 15px;
    line-height: 0.9;

}
.logo-text:hover {
    color: #f26522
}

.word {
    font-family: ﻿AdobeInvisFont, ﻿Verdana-Bold, ﻿Courier, sans-serif;
    font-weight: bold;
    font-size: 28pt;
    color: rgb(219, 219, 219);
    text-align: left;
}

.word:hover {
    color: #f26522;
}

.contacts {
    display: inline-block;
    width: 247px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 18pt;
    color: rgb(255, 255, 255);
    text-align: right;
    position: absolute;
    right: 254px;
    float: right;
}

.content {
    width: 1060px;
    margin: 48px 0 150px 150px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 16pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;

}

.left-high {
    width: 307px;
    height: 200px;
    margin-right: 69px;
    margin-bottom: 50px;
    padding-left: 1px;
    position: relative;
}
.left-high:hover {
    color: #f26522;
    border: 0.6px solid #f26522;
}

.middle-high {
    width: 308px;
    height: 200px;
    margin-right: 68px;
    margin-bottom: 50px;
    float: left;
    position: absolute;
    top: 143px;
    left: 524px;

}
.middle-high:hover {
    color: #f26522;
    border: 0.6px solid #f26522;

}

.right-high {
    width: 307px;
    height: 200px;
    float: left;
    position: absolute;
    top: 143px;
    left: 900px;
    margin-bottom: 50px;
}
.right-high:hover {
    color: #f26522;
    border: 0.6px solid #f26522;
}

.left-down {
    width: 307px;
    height: 200px;
    float: left;
    position: absolute;
    top: 384px;
    left: 151px;
    margin-right: 69px;
    margin-top: 30px;
}
.left-down:hover {
    color: #f26522;
    border: 0.6px solid #f26522;
}

.middle-down {
    width: 308px;
    height: 201px;
    float: left;
    position: absolute;
    top: 384px;
    left: 525px;
    margin-right: 68px;
    margin-top: 30px;
}
.middle-down:hover {
    color: #f26522;
    border: 0.6px solid #f26522;
}

.right-down {
    width: 307px;
    height: 201px;
    float: left;
    position: absolute;
    top: 384px;
    left: 900px;
    margin-top: 30px;
}

.right-down:hover {
    color: #f26522;
    border: 0.6px solid #f26522;
}

.down-information {
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 12pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    color: #eeefee;
    clear: right;
    margin-top: 370px;

}